.button {
  background: var(--color-main);
  border: none;
  border-radius: var(--smooth-borders);
  box-shadow: .5rem .5rem 1rem rgba(92, 92, 92, 0.2);
  color: white;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  text-decoration: none;

  &--s {
    padding: .5em 1em;
  }

  &--m {
    padding: .5em 2em;
  }

  &--l {
    padding: .5em 4em;
  }
}

.button--add__fixed {
  background-color: var(--color-tertiair);
  border-radius: 50%;
  bottom: 1rem;
  color: white;
  font-size: 3em;
  padding: .5rem 1rem;
  position: fixed;
  right: 5%;
  z-index: 999;

  &:hover {
    transform: scale(1.05);
  }
}

.button:active {
  box-shadow: .25rem .25rem 1rem rgba(92, 92, 92, 0.2);
  transform: scale(.98);
}

.button-logout {
  align-items: center;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 5vw;
  right: 5vw;

  &:hover {
    svg {
      path:nth-of-type(2) {
        transform: translateX(.25rem);
      }
    }
  }

  span {
    display: none;
  }

  @media (min-width: 800px) {
    position: static;

    span {
      display: inline;
    }
  }

  svg {
    width: clamp(2rem, 5vw, 3rem);

    path {
      fill: var(--color-txt-main);
      transition: transform .3s ease;

      &:first-of-type {
        transform: translateY(-1px);
      }
    }
  }
}

.button-remove {
  background-color: var(--color-txt-main);
  max-width: 10rem;
}

.google,
.facebook {
  font-size: 1rem;
  width: 80%;
}

.google {
  background: white;
  color: var(--color-txt-main);
}

.facebook {
  background: rgb(47, 85, 164);
}