.main-header {
  height: 25vh;
  margin-bottom: 1%;
}

nav {
  align-items: center;
  align-self: flex-end;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.main-header__title {
  color: var(--color-txt-main);
  line-height: 1;
  text-decoration: none;

  h1 {
    font-size: 3rem;

    span {
      font-size: calc(3rem * 0.85);
    }
  }
}