.login-box-layout {
  align-items: center;
  background: var(--linear-gradient);
  display: flex;
  height: 100vh;
  justify-items: center;
  width: 100vw;
}

.login-box {
  align-items: center;
  background: fade-out(rgb(255,255,255), .15);
  border-radius: var(--smooth-borders);
  display: flex;
  flex-direction: column;
  height: clamp(11rem, 35vh, 20rem);
  justify-content: space-evenly;
  text-align: center;
  width: clamp(15rem, 90vw, 20rem);
}

.login-box__title {
  margin-top: 1rem;
  line-height: 1;
}

label[for=button] {
  > * {
    margin: .25rem;
  }
}