.page-header {
  background-color: var(--color-grey-light);
  margin-bottom: 2%;
  padding: 2% 0;
}

.page-header__actions {
  margin-top: 1rem;
}

.page-header__title {
  font-size: clamp(1.5em, 5vw, 2em);
  font-weight: 300;
  max-width: 70vw;

  span {
    font-weight: 700;
  }
}