:root {
  /***** Colors  *****/
  --color-main: rgb(109, 92, 250);
  --color-secundair: rgb(159, 92, 250);
  --color-tertiair: rgb(102, 226, 218);
  --linear-gradient: linear-gradient(to right, var(--color-main), var(--color-secundair));

  --color-txt-main: rgb(43, 43, 43);
  --color-txt-grey: rgb(168, 168, 168);

  /***** Spaces  *****/
  --smooth-borders: .5rem;
}