:root {
  --color-turgoise-light: hsl(175, 69%, 53%);
  --color-turqoise-dark: hsl(176, 95%, 33%);
  --color-grey-regular: hsl(0, 0%, 40%);
  --color-grey-light: hsl(0, 0%, 97%);

  --color-txt-main: hsl(0, 0%, 17%);
  --color-txt-sec: hsl(0, 0%, 66%);

  --smooth-borders: .5rem;
}